{% extends "base_layout.html" %} {% block content %}

<section class="latest-posts">
  <div class="container">
    <header>
      <h2 style="margin-left: 480px">Latest Blog Post</h2>
    </header>
    <div class="row">
      {% for post in posts %}
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="#"
            ><img
              src="{{ url_for('static', filename='blog_images/' + post.blog_image) }}"
              alt="..."
              class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{post.date_posted.strftime('%d-%m-%Y')}}</div>
          </div>
          <a href="post.html"> <h3 class="h4">{{post.title}}</h3></a>
          <p class="text-muted">{{post.content}}</p>
          <footer class="post-footer d-flex align-items-center">
            <a href="#" class="author d-flex align-items-center flex-wrap">
              <div class="avatar">
                <img
                  src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}"
                  alt="..."
                  class="img-fluid"
                />
              </div>
              <div class="title"><span>{{post.author.username}}</span></div></a
            >
            <div class="date">
              <i class="icon-clock"></i
              >{{post.author.date_joined.strftime('%d-%m-%Y')}}
            </div>
            <div class="comments"><i class="icon-comment"></i>0</div>
          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
