{% extends "base_layout.html" %} {% block content %}

<!-- Hero Section-->
<section
  style="
    background: url(static/blog_images/first!.jpeg);
    background-size: cover;
    background-position: center center;
  "
  class="hero"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Reaching Audience One Step At A Time.</h1>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Quote of The Day</h2>
        <p class="text-big" id="quote">{{res.quote}}</p>
        <span class="text-muted" id="author">- {{res.author}} -</span>
        <div style="margin-top: 17px; text-decoration: none">
          <!-- <a href="" class="btn btn-outline-secondary" id="joke"
                >Get Another</a
              > -->
          <button class="btn btn-outline-secondary" id="joke">
            Get Another
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Posts -->
<section class="featured-posts no-padding-top">
  <div class="container">
    <header>
      <h2>Most Liked Blog Posts</h2>
      <p class="text-big">Here are some of the blogs with the most likes..</p>
    </header>
    <!-- Post-->
    <div class="row d-flex align-items-stretch most-liked">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"></div>
              <a href="post.html">
                <h2 class="h4">{{liked_post[0].title}}</h2></a
              >
            </header>
            <p>{{liked_post[0].content}}</p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img
                    src="{{ url_for('static', filename='profile_pics/' + liked_post[0].author.profile_image) }}"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="title">
                  <span>{{liked_post[0].author.username}}</span>
                </div></a
              >
              <div class="date">
                <i class="icon-clock"></i>
                {{liked_post[0].author.date_joined.strftime('%d %b, %Y')}}
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div class="widImage">
        <img
          src="{{ url_for('static', filename='blog_images/' + liked_post[0].blog_image) }}"
          alt="..."
        />
      </div>
    </div>
    <!-- Post -->
    <div class="row d-flex align-items-stretch most-liked">
      <div class="widImage">
        <img
          src="{{ url_for('static', filename='blog_images/' + liked_post[1].blog_image) }}"
          alt="..."
        />
      </div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"></div>
              <a href="post.html">
                <h2 class="h4">{{liked_post[1].title}}</h2></a
              >
            </header>
            <p>{{liked_post[1].content}}</p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img
                    src="{{ url_for('static', filename='profile_pics/' + liked_post[1].author.profile_image) }}"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="title">
                  <span>{{liked_post[1].author.username}}</span>
                </div></a
              >
              <div class="date">
                <i class="icon-clock"></i
                >{{liked_post[1].author.date_joined.strftime('%d %b, %Y')}}
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- Post -->
    <div class="row d-flex align-items-stretch most-liked">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category"></div>
              <a href="post.html">
                <h2 class="h4">{{liked_post[2].title}}</h2></a
              >
            </header>
            <p>{{liked_post[2].content}}</p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img
                    src="{{ url_for('static', filename='profile_pics/' + liked_post[2].author.profile_image) }}"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="title">
                  <span>{{liked_post[2].author.username}}</span>
                </div></a
              >
              <div class="date">
                <i class="icon-clock"></i>
                {{liked_post[2].author.date_joined.strftime('%d %b, %Y')}}
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div class="widImage">
        <img
          src="{{ url_for('static', filename='blog_images/' + liked_post[2].blog_image) }}"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>
        <a
          href="{{url_for('blogs')}}"
          style="text-decoration: none; color: black"
          >Latest from the blog</a
        >
      </h2>
    </header>
    <div class="row">
      {% for latest in latest_post %}
      <div class="post col-md-4">
        <a href="{{url_for('post', post_id=latest.id)}}"
          ><img
            src="{{ url_for('static', filename='blog_images/' + latest.blog_image) }}"
            alt="..."
            class="img-fluid"
            style="width: 100%; height: 100%; border-radius: 10px"
        /></a>

        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{latest.date_posted.strftime('%d %b, %Y')}}</div>
          </div>
          <a href="{{url_for('post', post_id=latest.id)}}">
            <h3 class="h4">{{latest.title}}</h3></a
          >
          <p class="text-muted blog-content">{{ latest.content }}</p>
          <footer class="post-footer d-flex align-items-center">
            <a href="#" class="author d-flex align-items-center flex-wrap">
              <div class="avatar">
                <img
                  src="{{ url_for('static', filename='profile_pics/' + latest.author.profile_image) }}"
                  alt="..."
                  class="img-fluid"
                />
              </div>
              <div class="title">
                <span>{{ latest.author.username }}</span>
              </div></a
            >
            <div class="date">
              <i class="icon-clock"></i>
              {{latest.author.date_joined.strftime('%d %b, %Y')}}
            </div>
          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="blank-space">.</div>
{% endblock content %}
