{% extends "base_layout.html" %} {% block content %}

<!-- Hero Section-->
<section
  style="
    background: url(static/blog_images/first!.jpeg);
    background-size: cover;
    background-position: center center;
  "
  class="hero"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Reaching Audience One Step At A Time.</h1>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Quote of The Day</h2>
        <p class="text-big" id="quote">{{res.quote}}</p>
        <span class="text-muted" id="author">- {{res.author}} -</span>
        <div style="margin-top: 17px; text-decoration: none">
          <!-- <a href="" class="btn btn-outline-secondary" id="joke"
                >Get Another</a
              > -->
          <button class="btn btn-outline-secondary" id="joke">
            Get Another
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Posts -->
<section class="featured-posts no-padding-top">
  <div class="container">
    <header>
      <h2>Most Liked Blog Posts</h2>
      <p class="text-big">Here are some of the blogs with the most likes..</p>
    </header>
    <!-- Post-->
    <div class="row d-flex align-items-stretch most-liked">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="#">Business</a><a href="#">Technology</a>
              </div>
              <a href="post.html">
                <h2 class="h4">
                  Alberto Savoia Can Teach You About Interior
                </h2></a
              >
            </header>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrude consectetur adipisicing elit,
              sed do eiusmod tempor incididunt.
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img src="img/avatar-1.jpg" alt="..." class="img-fluid" />
                </div>
                <div class="title"><span>John Doe</span></div></a
              >
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <!-- <div class="image col-lg-5 widImage">
            <img
              src="{{ url_for('static', filename='blog_images/first!.jpeg') }}"
              alt="..."
            />
          </div> -->
      <div class="widImage">
        <img
          src="{{ url_for('static', filename='blog_images/first!.jpeg') }}"
          alt="..."
        />
      </div>
    </div>
    <!-- Post        -->
    <div class="row d-flex align-items-stretch most-liked">
      <div class="widImage">
        <img
          src="{{ url_for('static', filename='blog_images/first!.jpeg') }}"
          alt="..."
        />
      </div>
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="#">Business</a><a href="#">Technology</a>
              </div>
              <a href="post.html">
                <h2 class="h4">
                  Alberto Savoia Can Teach You About Interior
                </h2></a
              >
            </header>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrude consectetur adipisicing elit,
              sed do eiusmod tempor incididunt.
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img src="img/avatar-2.jpg" alt="..." class="img-fluid" />
                </div>
                <div class="title"><span>John Doe</span></div></a
              >
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- Post -->
    <div class="row d-flex align-items-stretch most-liked">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                <a href="#">Business</a><a href="#">Technology</a>
              </div>
              <a href="post.html">
                <h2 class="h4">
                  Alberto Savoia Can Teach You About Interior
                </h2></a
              >
            </header>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrude consectetur adipisicing elit,
              sed do eiusmod tempor incididunt.
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img src="img/avatar-3.jpg" alt="..." class="img-fluid" />
                </div>
                <div class="title"><span>John Doe</span></div></a
              >
              <div class="date"><i class="icon-clock"></i> 2 months ago</div>
              <div class="comments"><i class="icon-comment"></i>12</div>
            </footer>
          </div>
        </div>
      </div>
      <div class="widImage">
        <img
          src="{{ url_for('static', filename='blog_images/first!.jpeg') }}"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from the blog</h2>
    </header>
    <div class="row">
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img
              src="{{ url_for('static', filename='blog_images/first!.jpeg') }}"
              alt="..."
              class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Business</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Ways to remember your important ideas</h3></a
          >
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
          <footer class="post-footer d-flex align-items-center">
            <a href="#" class="author d-flex align-items-center flex-wrap">
              <div class="avatar">
                <img src="img/avatar-1.jpg" alt="..." class="img-fluid" />
              </div>
              <div class="title"><span>John Doe</span></div></a
            >
            <div class="date"><i class="icon-clock"></i> 2 months ago</div>
            <div class="comments"><i class="icon-comment"></i>12</div>
          </footer>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img
              src="{{ url_for('static', filename='blog_images/image1.avif') }}"
              alt="..."
              class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Technology</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a
          >
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img
              src="{{ url_for('static', filename='blog_images/image1.avif') }}"
              alt="..."
              class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Technology</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a
          >
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img
              src="{{ url_for('static', filename='blog_images/image1.avif') }}"
              alt="..."
              class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Technology</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a
          >
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img
              src="{{ url_for('static', filename='blog_images/image1.avif') }}"
              alt="..."
              class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Technology</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a
          >
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img src="img/blog-3.jpg" alt="..." class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">20 May | 2016</div>
            <div class="category"><a href="#">Financial</a></div>
          </div>
          <a href="post.html">
            <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a
          >
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="blank-space">.</div>
{% endblock content %}
