.most-liked {
  display: flex;
  flex-direction: row;
}
.widImage {
  max-width: 500px;
  max-height: 500px;
}

.widImage img {
  width: 100%;
  height: 100%;
}
.blank-space {
  width: 100%;
  height: 200px;
}

.auth a {
  text-decoration: none;
}

.top-links {
  margin-left: 450px;
}

.login-page {
  max-width: 800px;
  margin: 20px auto;
}
.cont-alert {
  max-width: 700px;
  margin: 0 auto;
}
